$primary   : #1b1c1c;
$secondary : #2a2a2b;
$accent    : #008d6e;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
